.section {
  background-color: rgb(230, 224, 224);
  display: flex;
  flex-direction: column;
}

.friendsList {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  padding-right: 20px;
}

.online {
  background: darkgreen;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
}

.offline {
  background: darkred;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
}
